.event-form {
	width: 400px;
	margin: auto !important;
}
.ticket-form {
	width: 400px;
	margin: auto !important;	
	padding: 20px;
}
.ticket-group {
	margin: 25px 5px !important;
}
.qr-code {
	margin: auto !important;
}

@media(min-width: 720px) {
	#root {
		width: 75%;
		margin: auto;
	}
	.ticket-scanner {
		width: 50%;
		margin: auto !important;
	}
}